@font-face {
    font-family: ColabLig;
    src: url('/ColabLig.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
    font-family: ColabLig !important;
}

#david-kim-img {
    max-height: 350px;
    max-width: 350px;
}