@font-face {
    font-family: Komikax;
    src: url('/KOMIKAX_.ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
    font-family: Komikax !important;
}